body {
    font-family: Arial;
    text-align: center;
    margin: 20px;
}

.inputs {
    margin-bottom: 20px;
}

#matriz {
    margin-top: 20px;
    display: grid;
    gap: 5px;
    justify-content: center;
}

.celda {
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
}

.celda:hover {
    transform: scale(1.1);
}

.fizz {
    background: lightgreen;
}

.buzz {
    background: lightblue;
}

.fizzbuzz {
    background: plum;
}

.leyenda span {
    padding: 5px 10px;
    border-radius: 5px;
}
